/* CSS Document */

.fontCari{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
.tx_fldCari{
margin: 0px;
	padding: 0px;
	height: 13px;
	width:140px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.bttnCari{
	background-color:#D7D70B;
	margin-bottom:0px;
	height: 13px;
	width:75px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}
.jdlMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #739AFE;
	text-decoration: none;
}
.fontIsi {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 3838C8;
}
#menu a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
#menu a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #739AFE;
}
.font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
.font a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
.font a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #7B7BFF;
}
#td
{
background-repeat:no-repeat;
}